projects/detect_rare_images/data
.env
projects/detect_rare_images/memo.md
cropped_objects
baseline_cropped_objects
new_cropped_objects
outliers
out_images
*.png
outliers_tsne
out_images_tsne
both_outlier
if_outlier_ouly
inlier_inliner
inliner
if_outlier_ouly
*/*.jpg
*.txt
outlier


new_cropped_objects_*
*.pt
*.json
ConceptVLM3D_CVPR2025.tex
convert_simple.py

projects/detect_rare_images/concept_based_rare_detector.code-workspace
refs.bib
